POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=codeelevate
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/codeelevate
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=admin
SPRING_REDIS_HOST=redis
SPRING_REDIS_PORT=6379